---
layout: default
single: true
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
	<div class="meta">
		<div class="date">{% include post/date.html %}{{ time }}</div>
		<div class="tags">{% include post/categories.html %}</div>
	</div>
	{% include article.html %}
</article>

{% if site.duoshuo_short_name and site.duoshuo_comments == true and page.comments == true %}
  <section>
    <div id="comments" aria-live="polite">{% include post/duoshuo.html %}</div>
  </section>
{% endif %}
